body{
    background-image: url("./images/46.jpg");
    background-size: cover;
}

#container {
    margin-left: 40px;
    margin-top: 15px;
    padding-top: 20px; 
    padding-left: 15px; 
    border: solid black; 
}

.food-container{
    display: inline-block;
    border: 0.65px solid black;
}

#start-button {
    color: white;
    font-size: 20px;
    background-color: green; 
    border: solid black;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    right: 150px; 
}

#reset-button {
    color: white;
    font-size: 20px;
    background-color: green; 
    border: solid black;
    border-radius: 5px;
    position: absolute;
    top: 100px;
    right: 150px; 
}


#counter {
    position: absolute;
    top: 175px;
    right: 180px; 
    width: 100px;
    height: 50px;
    border: solid black;
    border-radius: 5px; 
    text-align: center;
    color: white;
    background: green;
}

#counter2 {
        position: absolute;
        top: 260px;
        right: 180px; 
        width: 100px;
        height: 50px;
        border: solid black;
        border-radius: 5px; 
        text-align: center;
        color: white;
        background: green;
    }

